/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
 .bg{
  background-color: #F2F2F2;
  padding-bottom: 50px;
 }
 .text_color{
  color: #644F9C;
 }
 .text_color1{
  color: #FF6F00;
 }
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 20px 0px 20px; */
    background-color: #F2F2F2;
    color: #404040;
    
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    font-family: Prototype;
    color: #404040;
    font-weight: bold;
   }
   .lan {
    display: flex;
    font-size: 10px;
    padding-right: 20px;
    color:inherit; 
    text-decoration:none;
   }
   
   .lan li {
    padding: 3px;
    color: #404040;
   }
   .symbol {
    display: flex;
    font-size: 15px;
    font-weight: bold;
   }
   .button {
    background-color: #F2F2F2;
    border: none;
    color: #404040;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-family: PT Sans;
  }
  .button:focus {     
    color:green;    
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #F2F2F2;
  padding-left: 15px;
  align-content: bottom;
  font-family: PT Sans Pro;
}

li {
  float: left;
  justify-content: 10px;
}

li a {
  display: block;
  color: #644F9C;
  text-align: center;
  padding-left: 15px;
  text-decoration: none;
}

li a:hover {
  color: #FF6F00;
}
.lower_navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 15px 10px 5px; */
  background-color: #F2F2F2;
}

.button1 {
  background-color:white;
  border: none;
  color: #404040;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: PT Sans;
}
.button1:focus {     
  color:#F2F2F2;  
  background-color: #FF6F00;  
}
.button5 {
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
}
.login_sign_up{
  background-color:white;  
  padding: 5px 10px 5px 20px;
  border-radius: 30px;
}
.slidenumber{
  display: flex;
}
.slider-left{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-around;
  flex: 8;
  padding: 30px;
}
.slider-right{
  flex: 4;
}

.individual-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-class{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-class{
  background-color: rgb(117, 24, 209);
  color:white;width:200px;
  padding:10px;
  border-radius: 50px;
  margin-top: 10px;
}
.pointer{
  position: absolute;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
.second-div{
  padding-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  position: relative;
  background-color: #F2F2F2;
}


.second-div{
  padding-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  position: relative;
  background-color: #F2F2F2;
}

.third-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  position: relative;
  background-color: #F2F2F2;
}
.pointer2{
  position: absolute;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}

.v_buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  
}

.ind_btn{
  background-color: #FF6F00;
  color:white;width:200px;
  padding:10px;
  border-radius: 50px;
  margin-top: 10px;
}

.pad{
  padding-bottom: 50px;
}
#card{
  display: flex;
  flex-direction: row;
  
}
#left{
  flex:4;
}
#right{
  flex:8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.a{
  align-items: center;
}